@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Rubik', sans-serif;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

/*Portrait phones*/
:root {
    --very-dark-grey: hsl(0, 0%, 17%);
    --dark-grey: hsl(0, 0%, 59%);
}

.background {
    max-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    position: relative;
}

.image-container {
    background-image: url("./pattern-bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40dvh;
}

.leaflet-container {
    z-index: 1;
    height: 100%;
}

.foreground {
    z-index: 2;
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foreground h1 {
    color: #fff;
    font-weight: 400;
    padding: 0.5em;
}

.input-holder {
    display: flex;
    align-items: center;
    height: clamp(3rem, 6dvh, 4rem);
    width: 80%;
}

.input-holder input {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    outline: none;
    padding-left: 1em;
    color: var(--very-dark-grey);
}

.input-holder img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1em;
    background-color: var(--very-dark-grey);
    height: 100%;
}

.input-holder img:hover {
    background-color: rgb(82, 82, 82);
}

.data {
    width: 80%;
    background: #fff;
    margin-top: 5%;
    border-radius: 10px;
    text-align: center;
    padding: 1em 0;
}

.data-container {
    padding: min(2vw, 2vh) 0;
    font-size: clamp(0.8rem, 2dvh, 1.3rem);
}

.data-container p {
    color: var(--dark-grey);
    font-size: 75%;
    font-weight: 700;
}

.data-container h2 {
    color: var(--very-dark-grey);
    font-size: 125%;
    font-weight: 500;
}

/*For tablets*/
@media (width >= 48em) and (orientation: portrait) {}

/*For laptops*/
@media (width >= 75em) {

    .image-container {
        background-image: url("/pattern-bg-desktop.png");
    }

    .data {
        margin-top: 3%;
        display: flex;
        justify-content: space-evenly;
    }

    .data-container {
        padding: min(4vw, 4vh) 0;
        font-size: clamp(1rem, 3dvh, 1.5rem);
    }

    .input-holder {
        width: 40%;
    }

}